{% extends 'base_page.html' %}

<!-- Page Title -->
{% block title %}Admin Dashboard{% endblock %}

<!-- Navbar -->
{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href=""> Surveys <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="questions"> Questions </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="guests"> Guests </a>
      </li>
    </ul>
</div>
<ul class="navbar-nav mr-auto float-right">
    <li class="nav-item">
      <a class="nav-link" href="/logout"> Logout</a>
    </li>
</ul>
{% endblock%}

<!-- Page Content -->
{% block content %}
<div class="container" style="padding-top:20px">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-dark text-white">Active Surveys</div>
                <div class="card-body">
                    <div style="text-align:right"><a href="add/survey">Add Survey...</a></div>
                    <table class="table">
                        <th>Course Name</th>
                        <th>Time</th>
                        <th>Status</th>
                        {% for survey in surveys %}
                            <tr>
                                <td>{{ survey.course_name }} {{ survey.course_session}}</td>
                                <td> {{survey.starttime}} - {{ survey.endtime }}</td>
                                <td>
                                    {% if survey.state == 'created' %}
                                        <button type="button" class="btn" disabled>Created</button>
                                    {% elif survey.state == 'review' %}
                                        <button type="button" class="btn" disabled>Awaiting Review</button>
                                    {% elif survey.state == 'active' %}
                                        <button type="button" class="btn" disabled>Survey Active</button>
                                    {% elif survey.state == 'closed' %}
                                        <button type="button" class="btn" disabled>Closed</button>
                                    {% elif survey.state == 'deactivate' or survey.state == 'adeactivate' %}
                                        <form method='POST'>
                                            <div class="form-group">
                                                <button type="submit" name="close" value='{{survey.course_name}} {{ survey.course_session}}' class="btn btn-danger">Ready to close</button>
                                            </div>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
