{% extends 'base_page.html' %}

<!-- Page Title -->
{% block title %}Index{% endblock %}

<!-- Page Body -->
{% block content %}
<div class="container" style="padding-top:20px">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-dark text-white">Create Question</div>
                <div class="card-body">                    
                    <form method="POST">
                        <div class="form-group">
                            <label for="question_text">Question:</label>
                            <input type="text" class="form-control" name="question_text"></input>
                        </div>
                        {% for i in range(n_answers) %}
                        <div class="form-group">
                            <label for="answer{{i}}">Answer {{i}}</label>
                            <input type="text" class="form-control" name="answer{{i}}"></input>
                        </div>
                        {% endfor %}
                        {% if n_answers < 6 %}
                        <div class="form-group">
                            <button type="submit" name="add_answer" class="btn btn-dark">Add Answer</button>
                        </div>
                        {% endif %}
                        {% if n_answers > 2 %}
                         <div class="form-group">
                            <button type="submit" name="remove_answer" class="btn btn-dark">Remove Answer</button>
                        </div>                       
                        {% endif%}
                        <div class="form-group">
                            <button type="submit" class="btn btn-dark">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>     
</div>
{% endblock %}
