{% extends 'base_page.html' %}

<!-- Page Title -->
{% block title %}Add Question{% endblock %}

<!-- Navbar -->
{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="surveys"> Surveys </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../questions"> Questions</a>
      </li>
    </ul>
</div>
{% endblock%}

<!-- Page Body -->
{% block content %}
<div class="container" style="padding-top:20px">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-dark text-white">Create Question</div>
                <nav aria-label="Question type">
                  <ul class="pagination">
                    <li class="page-item {% if qtype == "mcq" %}disabled{% endif %}"><a class="page-link" href="mcq">Multiple Choice</a></li>
                    <li class="page-item {% if qtype == "textans" %}disabled{% endif %}"><a class="page-link" href="textans">Text Answer</a></li>
                  </ul>
                </nav>
                <div class="card-body">
                    {% if question_error %}
                    <div class='alert alert-danger'>You need to enter a question</div>
                    {% endif %}
                    <form method="POST">
                        {% if qtype == "mcq" %}
                        {% include "mcq_form.html" %}
                        {% elif qtype == "textans" %}
                        {% include "textans_form.html" %}
                        {% else %}
                        <div class='alert alert-danger'>Invalid Form Type {{qtype}}</div>
                        {% endif %}
                        <div class="form-group">
                            <button type="submit" name="cancel" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
