{% extends 'base_page.html' %}

<!-- Page Title -->
{% block title %}Admin Dashboard{% endblock %}

<!-- Navbar -->
{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="surveys"> Surveys </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=""> Questions <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="guests"> Guests </a>
      </li>
    </ul>
</div>
<ul class="navbar-nav mr-auto float-right">
    <li class="nav-item">
      <a class="nav-link" href="/logout"> Logout</a>
    </li>
</ul>
{% endblock%}

<!-- Page Content -->
{% block content %}
<div class="container" style="padding-top:20px">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-dark text-white">Questions</div>
                <div class="card-body">
                    <div style="text-align:right"><a href="add/question/mcq">Add Question...</a></div>
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Question</th>
                            <th>Answers</th>
                            <th></th>
                        </tr>
                        {% for question in questions %}
                            {% if question[3] != "True" %}
                                <tr>
                                    <td>{{question[0]}}</td>
                                    <td>{{ question[1] }}</td>
                                    <td>
                                        <ul>
                                        {% for answer in question[2] %}
                                                <li>{{ answer }}</li>
                                        {% endfor %}
                                        {% if question[2] | length == 0 %}
                                            <p>N/A</p>
                                        {% endif %}
                                        </ul>
                                    </td>
                                    <td>
                                        <form method="POST">
                                            <div class="form-group">
                                                <button type="submit" name="delete" value='{{question[0]}}' class="btn btn-danger">Delete</button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
