{% extends 'base_page.html' %}

<!-- Page Title -->
{% block title %}Admin Dashboard{% endblock %}

<!-- Navbar -->
{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="surveys"> Surveys </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=""> Questions <span class="sr-only">(current)</span></a>
      </li>
    </ul>
</div>
{% endblock%}

<!-- Page Content -->
{% block content %}
<div class="container" style="padding-top:20px">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-dark text-white">Active Surveys</div>
                <div class="card-body">
                    <table class="table">
                        <th>
                            <td>Question</td>
                            <td>Question ID</td>
                            <td>Answers</td>
                        </th>
                        {% for survey in surveys %}
                            <tr>
                                <td>{{ question.getText() }}</td>
                                <td>{{ question.getID() }}</td>i
                                <td>{{ question.getAnswers() }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <a href="#">Add Question...</a>
                </div>
            </div>
        </div>
    </div>     
</div>

{% endblock %}
