{% extends 'base_page.html' %}

<!-- Page Title -->
{% block title %}Index{% endblock %}

<!-- Page Body -->
{% block content %}
<div class="container" style="padding-top:20px">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header bg-dark text-white">Invalid Permissions</div>
                <div class="card-body">
                    <!-- Login form -->
                    <a href="/">Return To Index</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
