{% extends 'base_page.html' %}

<!-- Page Title -->
{% block title %}Index{% endblock %}

<!-- Page Body -->
{% block content %}
<div class="container" style="padding-top:20px">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-dark text-white">Admin Login</div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" name="email" placeholder="email@example.com"></input>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" name="password"></input>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-dark">Login</button>
                        </div>
                    </form>
                    {% if failedAuth %}
                    <p class="text-danger">Invalid email and/or password</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-dark text-white">Search Survey URL</div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            <label for="email">Survey URL:</label>
                            <input type="text" class="form-control" name="search"></input>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-dark">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>     
</div>
{% endblock %}
