{% extends 'base_page.html' %}

<!-- Page Title -->
{% block title %}{{ survey.course_name }} {{survey.course_session}}{% endblock %}

<!-- Page Body -->
{% block content %}
<div class="container" style="padding-top:20px">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-dark text-white">{{ survey.course_name }} {{ survey.course_session }}</div>
                <div class="card-body">
                    <form method="POST">
                        {% for question in questions %}
                            <p>{{ question[1] }}</p>
                                {% if question[2] | length > 0 %}
                                    {% for answer in question[2] %}
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="{{question[0]}}" value="{{question[2].index(answer)}}" required>
                                            {{ answer }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" name="{{question[0]}}" required></textarea>
                                    </div>
                                {% endif %}
                            <hr>
                        {% endfor %}
                        <button type="submit" class="btn btn-dark" name="course" value="{{survey.course_name}} {{ survey.course_session}}">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
