{% extends 'base_page.html' %}

<!-- Page Title -->
{% block title %}{{ course_name }} {{course_session}}{% endblock %}

<!-- Page Body -->
{% block content %}
<div class="container" style="padding-top:20px">
    <div class="row" style="padding-top:10px">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-dark text-white">Engagement</div>
                <div class="card-body"><img src="{{ url_for('static', filename=course_name+course_session+'.png')|autoversion }}" /></div>
            </div>
        </div>
    </div>
    <!-- START DISPLAYING CHARTS FOR EACH MULTIPLE CHOICE QUESTION WITH ANSWER CHOICES DISPLAYED UNDER EACH CHART -->
    {% for chart in charts %}
    <div class="row" style="padding-top:10px">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-dark text-white">{{chart}}</div>
                <div class="card-body"><img src="{{ url_for('static', filename=chart+'.png')|autoversion }}" /></div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- END CHART DISPLAYING -->

    <!-- WE STILL NEED THIS STUFF FOR REQUIREMENTS -->
    <div class="row" style="padding-top:10px">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-dark text-white">Responses for {{ course_name }} {{ course_session }}</div>
                <div class="card-body">
                    <table class="table">
                        <th>Question</th>
                        <th>Answer</th>
                    {% for response in responses %}
                        <tr>
                            {% set question = get_question(response.qid) %}
                            <td>{{ question[1] }} </td>
                            <td>
                                {% if question[2] | length != 0 %}
                                    {{ question[2][response.response | int] }}
                                {% else %}
                                    {{ response.response }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
